.section {
	position: relative;
	height: 32px;
	padding-left: 80px;
	padding-right: 15px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.section label {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 32px;
	line-height: 32px;
	;
	font-size: 12px;
}
.section>select,  .section>input {
	width: 100%;
	height: 100%;
	display: block;
	padding: 0 10px;
	box-sizing: border-box;
}
ul.actions {
    float: right;
}
